$small: "only screen and (max-width:599px)";
$medium: "only screen and (min-width:600px) and (max-width:959px)";
$large: "only screen and (min-width:960px) and (max-width:1279px)";
$extra-large: "only screen and (min-width:1280px);