<div class="product-card">
  <div class="product-card-thumbnail">
    <img
      class="product-card-thumbnail_img"
      src="../../../assets/images/hen-mai-nhe_1.jpg"
      alt=""
    />
  </div>
  <h2 class="product-card-title">
    <a href="" title="Product">Product</a>
  </h2>
  <div class="product-card-price">
    <p class="special-price">
      <span class="price">26 .650 đ</span>
      <span class="discount-percent">-30%</span>
    </p>
    <p class="old-price">49 .500 đ</p>
  </div>
</div>
