@import "../../styles/themes";
.navbar_header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color-theme);
  width: 100%;
  height: 35px;
  top: 0;
  .navbar_list {
    .navbar_list-item {
      display: inline-block;

      list-style: none;
    }
  }
  a {
    color: var(--color-theme);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
  }
}
.navbar_header-bottom {
  display: flex;
  line-height: 60px;
  border-bottom: var(--border-theme);
  box-shadow: var(--box-shadow-theme);
  background-color: var(--background-color-theme);
  .logo-row {
    display: block;
    flex: 0 0 20.83333333%;

    #logo {
      padding-left: 40px;
      strong {
        font-weight: 500;
        font-size: 18px;
        color: var(--color-theme);
      }
    }
  }
  .menu-row {
    display: flex;
    align-items: center;
    flex: 1;
    #search-box {
      display: flex;
      flex: 5;
      align-items: center;
      height: 22px;
      color: var(--color-theme);
      padding-left: 16px;
      border-left: var(--border-theme);
      .search-box-input {
        margin: 0;
        width: 100%;
        background-color: var(--background-color-theme);
        padding: 4px 11px;
        color: var(--color-theme);
        font-size: 14px;
        border: none;
      }
      .search-box-input:focus {
        outline: none;
      }
      .search-box-input::placeholder {
        color: var(--color-theme);
      }
    }
    #nav {
      flex: 3;
      text-align: center;
      .menu-item {
        display: inline-block;
        padding: 0 7px;
        font-size: 14px;
        color: var(--color-theme);
      }
    }
    .cart {
      flex: 1;
      .cart-btn {
        color: var(--color-theme);
      }
      .cart-btn-count {
        background-color: var(--background-color-theme);
        color: var(--color-theme);
        margin-left: 6px;
        padding: 0px 15px;
        border: 1px solid #d4d4d4;
        border-radius: 3px;

        span {
          font-size: 14px;
        }
      }
    }
    .theme-switch {
      flex: 0.6;
    }
    .lang-switch {
      flex: 1;
      .lang-switch-btn {
        background-color: var(--background-color-theme);
        padding: 2px 7px;
        border: 1px solid #d4d4d4;
        color: var(--color-theme);
        border-radius: 3px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}
