<div class="navbar_header-top">
  <ul class="navbar_list">
    <li class="navbar_list-item"><a href="">Trợ giúp</a></li>
    <li class="navbar_list-item"><a href="">Tin tức</a></li>
    <li class="navbar_list-item"><a href="">Khuyến mãi</a></li>
  </ul>
  <div class="navbar_actions">
    <a href="#" class="navbar_action"
      ><i class="ic icon-ic_gift-box"></i
      ><span class="navbar_text">Ưu đãi tiện ích</span>
    </a>
    <a href="#" class="navbar_action">Kiểm tra đơn hàng</a>
    <a href="#" class="navbar_action">Đăng ký</a>
    <a href="#" class="navbar_action">Đăng nhập</a>
  </div>
</div>
<div class="navbar_header-bottom">
  <div class="logo-row">
    <a href="" id="logo">
      <img src="" alt="" />
      <strong>BOOK-STORE</strong>
    </a>
  </div>
  <div class="menu-row">
    <div id="search-box">
      <span><i class="fa-solid fa-magnifying-glass"></i></span>
      <span>
        <input
          class="search-box-input"
          type="text"
          placeholder="Search in Book-Store"
        />
      </span>
    </div>
    <ul id="nav" class="menu">
      <li class="menu-item">Best-selling</li>
      <li class="menu-item">Favorite books</li>
      <li class="menu-item">Most viewed</li>
    </ul>
    <span class="cart">
      <a class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
      <a class="cart-btn-count"><span>1</span></a>
    </span>
    <div class="theme-switch">
      <a class="theme-switch-btn">
        <span>Dark</span>
      </a>
    </div>
    <div class="lang-switch">
      <a class="lang-switch-btn">
        <span>English</span>
      </a>
    </div>
  </div>
</div>
