<div class="home-page">
  <div class="background-menu-homepage">
    <div class="left-banner">
      <div class="banner-container">
        <a href="">
          <img
            class="left-banner-img"
            src="../../../assets/images/banner/back-to-school-banne1r.png"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="right-banner">
      <div class="top-right-banner">
        <a href="">
          <img src="../../../assets/images/banner/rain-deal.jpg" alt="" />
        </a>
      </div>
      <div class="bottom-right-banner">
        <a href="">
          <img src="../../../assets/images/banner/OIG2.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="flashsale">
    <div class="flashsale-header">
      <h2 class="flashsale-header-title">Flash Sale</h2>
      <div class="flashsale-header-thumb">
        <img
          class="flashsale-header-img"
          src="../../../assets/images/flashsale.png"
          alt=""
        />
      </div>
    </div>
    <div class="flashsale-slider">
      <div class="flashsale-list-item">
        <div class="flashsale-item"><app-product-card></app-product-card></div>
        <div class="flashsale-item"><app-product-card></app-product-card></div>
        <div class="flashsale-item"><app-product-card></app-product-card></div>
        <div class="flashsale-item"><app-product-card></app-product-card></div>
        <div class="flashsale-item"><app-product-card></app-product-card></div>
        <div class="flashsale-item"><app-product-card></app-product-card></div>
      </div>
    </div>
  </div>
</div>
