@import "../../styles/themes";
.footer-section {
  bottom: 0;
  border-top: var(--border-theme);
  width: 100%;
  padding-top: 15px;
  background-color: var(--background-color-theme);
  .footer-top {
    display: flex;

    .footer-column {
      padding-left: 140px;
      h2 {
        font-weight: 400;
        font-size: 17px;
        color: var(--color-theme);
      }
      .footer-item {
        font-weight: 300;
        margin: 10px 0;
        a {
          color: var(--color-theme);
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    border-top: var(--border-theme);
    padding: 15px 0px;
    .footer-bottom-left {
      flex: 1;
      .footer-bottom-item {
        padding-left: 140px;
        display: flex;
        list-style: none;
        li {
          margin-right: 10px;
          color: var(--color-theme);
        }
      }
    }
    .footer-bottom-right {
      display: flex;
      margin-right: 100px;
      .footer-social {
        margin-right: 20px;
        .footer-social-item {
          margin-right: 15px;
          color: var(--color-theme);
        }
      }
      #footer-theme {
        color: var(--color-theme);
        .footer-theme-item {
          span {
            color: var(--color-theme);
          }
        }
      }
    }
  }
}
