<section class="footer-section">
  <div class="footer-top">
    <div class="footer-column">
      <h2>Product</h2>
      <div class="footer-item">
        <a href="">Pricing</a>
      </div>
      <div class="footer-item">
        <a href="">Solutions</a>
      </div>
      <div class="footer-item">
        <a href="">Education</a>
      </div>
      <div class="footer-item">
        <a href="">Team plans</a>
      </div>
    </div>
    <div class="footer-column">
      <h2>About us</h2>
      <div class="footer-item">
        <a href="">About</a>
      </div>
      <div class="footer-item">
        <a href="">Branding</a>
      </div>
      <div class="footer-item">
        <a href="">Newsroom</a>
      </div>
      <div class="footer-item">
        <a href="">Partnerships</a>
      </div>
      <div class="footer-item">
        <a href="">Affiliates</a>
      </div>
      <div class="footer-item">
        <a href="">Careers</a>
      </div>
    </div>
    <div class="footer-column">
      <h2>Help and support</h2>
      <div class="footer-item">
        <a href="">Help center</a>
      </div>
      <div class="footer-item">
        <a href="">Contact us</a>
      </div>
      <div class="footer-item">
        <a href="">Privacy & Terms</a>
      </div>
      <div class="footer-item">
        <a href="">Safety information</a>
      </div>
      <div class="footer-item">
        <a href="">Sitemap</a>
      </div>
    </div>
    <div class="footer-column">
      <h2>Community</h2>
      <div class="footer-item">
        <a href="">Angencies</a>
      </div>
      <div class="footer-item">
        <a href="">Freelancers</a>
      </div>
      <div class="footer-item">
        <a href="">Engineers</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <ul class="footer-bottom-item">
        <li>Help</li>
        <li>Privacy</li>
        <li>Terms</li>
      </ul>
    </div>
    <div class="footer-bottom-right">
      <div class="footer-social">
        <a href="" class="footer-social-item"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="" class="footer-social-item"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="" class="footer-social-item"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
      <select name="" id="footer-theme">
        <option value="1" class="footer-theme-item">
          <span>English</span>
        </option>
        <option value="2" class="footer-theme-item">
          <span>Tiếng Việt</span>
        </option>
      </select>
    </div>
  </div>
</section>
